{% extends 'main.html' %}
{% block title %}
    <h1>{{ record.creator.blog_name }}</h1>
    <em>{{ record.creator.get_full_name }}</em>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>{{ record.title }}</h2>
            <div style="margin-bottom: 20px"></div>
            <p>{{ record.body|safe}}</p>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-5"><em>Добавлена: {{ record.created|date:"d/m/Y" }}</em></div>
            </div>
            <button id="mark" class="btn btn-outline-info">Пометить прочитанной</button>
        </div>
    </div>
    <hr>
{% endblock %}
{% block scripts %}
{% endblock %}